.pwdstrength {
	width: auto;
}

.pwdstrength .pwds {
	background-image: url(images/strength.jpg);
	height: 17px;
	width: 0px;
}

.pwdstrength .pwdc {
	background-color: #fafafa;
	border: 1px dashed #aaa;
}

.pwdstrength .pwdm {
	vertical-align: bottom;
	color: #666;
	padding-left: 6px;
}